<div class="portada container-fluid mt-5">
    <div class="row">
        <div class="titulo col-6 ps-5">
            <h1 class="pb-1">Aventura Extrema</h1>

            <p class="pe-5">Viví experiencias inolvidables, emoción y adrenalina en sintonía con<br> la naturaleza. Podés
                remar en los rápidos del Río Mendoza,<br> deslizarte por el aire a través de un cable de acero, <br>volar en parapente y pasear en kayak <br> por
                nuestro dique.</p>
        </div>
    </div> <!-- cierra fila -->

    <div class="row ubicacion ps-5">

        <a href="#contacto" class="icono">Visitá nuestra base <img src="images/map.png" alt="ubicacion"></a>
        <p class="mza pt-1">Mendoza-Argentina.</p>
    </div>
</div>
</div> <!-- cierre portada -->
<div class="container-fluid contenido">
    <div id="actividades" class="row scroll-section">
        <h2 class="my-5 text-center">Actividades</h2>
        <div class="aventure row pt-3">
            <div class="col-6 info">
                <h3>Rafting</h3>
                <p>La actividad consiste en recorrer los rápidos del Río Mendoza sobre una balsa, en la cual todos los partipantes reman bajo las indicaciones de un guía profesional calificado. Los viajes resultan excitantes y divertidos.
                   No es necesario tener experiencia previa. Los botes infables tienen capacidad para 6 personas. De cuerdo al caudal del día se pueden llevar niños.
                   <br>Incluye: traje de neoprene, botas, casco y chaleco salvavidas. Las instalaciones cuentan con vestuarios y duchas.
                    <br><br>
                    Recorrido 12 km: $ 88.888.- <br>
                    Full day 28 km con almuerzo: $ 88.888.-
                </p>
            </div>
            <div class="col-6 pic">
                <img src="images/rafting3.jpg" alt="rafting">
            </div>
        </div> <!-- cierra row -->
        <div class="aventure row">
            <div class="col-6 pic">
                <img src="images/IMG_0169.jpg" alt="canopy">
            </div>
            <div class="col-6 pe-5">
                <h3>Canopy</h3>
                <p>El más excitante deporte extremo: viajar por el aire a lo largo de de un cable de
                    acero asegurado con un arnés y una polea. 1400 metros de recorrido, 6 cables diferentes que
                    alcanzan una altura de hasta 40 metros. Podrás apreciar la espectacular vista panorámica del dique
                    de Potrerillos.
                    Te ofrecemos 2 circuitos cuidadosamente diseñados para garantizar tu seguridad durante toda la
                    actividad. <br>
                    Incluye: Mini trekking, arnés individual, casco y guías profesionales durante todo el recorrido.
                    Restricciones: de acuerdo a edad, peso y aptitud física de los pasajeros.
                    <br><br>
                    Recorrido 5 cables: $ 88.888.- <br>
                    Recorrido 6 cables: $ 88.888.-
                </p>
            </div>
        </div>
        <div class="aventure row">
            <div class="col-6 info">
                <h3>Kayak</h3>
                <p>Nuestras travesías en Kayak se realizan en el Dique Potrerillos. De acuerdo al caudal de agua y temporada, realizamos recorridos en el bosque inundado.
                   Para aquellos que tengan algo de experiencia y busquen mayor adrenalina, brindamos cursos de Kayak de río, donde un guía calificado les enseña las técnicas de remado y roll. 
                    <br>Incluye: Kayak doble o simple, enterito de neoprene, botas, casco y chaleco salvavidas.
                    <br><br>
                    Recorrido en Lago 2 hs: $ 88.888.- <br>
                    Curso Kayak de río con guía individual: $ 88.888.-
                </p>
            </div>
            <div class="col-6 pic">
                <img src="images/kayak3.jpg" alt="kayak">
            </div>
        </div> <!-- cierra row -->
        <div class="aventure row">
            <div class="col-6 pic">
                <img src="images/climb2.jpg" alt="escalada">
            </div>
            <div class="col-6 pe-5">
                <h3>Escalada en roca</h3>
                <p>La escalada es una actividad que consiste en realizar ascensos sobre paredes,
                    valiéndose de la fuerza física propia.
                    Los elementos de seguridad como la cuerda, el arnés y los mosquetones son solo para proteger al
                    escalador en una posible caída. La dificultad varía de acuerdo a la experiencia de la persona que
                    este escalando. <br>
                    La actividad incluye: mini curso y charla de seguridad, guía profesional bilingue. Equipo técnico:
                    zapatillas, casco, arnés, cuerdas, mosquetones de seguridad. <br>
                    Dificultad: Moderado, difícil. <br>
                    Edad mínima: 12 años
                    <br><br>
                    Medio día: $ 88.888.- <br>
                    Full day con almuerzo: $ 88.888.-
                </p>
            </div>
        </div>
        <div class="aventure row">
            <div class="col-6 info">
                <h3>Parapente</h3>
                <p>El parapente es un deporte en el cual planeamos como si fuese con un paracaídas, pero que nos permite volar según las corrientes de aire.
                 Se necesita una vela o ala diseñada especialmente para poder planear. Esta vela está atada con cuerdas largas a una silla o arnés. Utilizamos parapentes biplaza, en los que el instructor se encarga de realizar el paseo.  
                 Despegamos desde la cima de una montaña a la cual ascendemos en una excursión 4×4.    <br><br>
                    Vuelo standard: $ 88.888.- <br>
                    Vuelo Premium: $88.888:- 
                   
                </p>
            </div>
            <div class="col-6 pic">
                <img src="images/parapente3.jpg" alt="parapente">
            </div>
        </div>
    </div>
</div> <!-- cierre actividades -->
</div> <!-- cierra cont fluid -->
<div class="container-fluid contenido2">
    <div id="novedades" class="row scroll-section">
         <h2 class="my-4 ps-5 text-center">Novedades</h2>
         <p class="mza text-center pb-2">Tenemos muchas promociones para esta temporada. Si venís en grupo podés armar tu propia aventura.</p>
         </div> 
         <div class="row">
       <div class="col-6 ofertas">
     <h4 class="pb-2">Elegí tu promo</h4>
                    <ul class="promos">
                    {{#each novedades}}
                    <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#promo{{id}}">
                            <img src="{{imagen}}" width="170" height="95" >{{titulo}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
       
       <div class="col-6 ofertas">
  <h4 class="pb-2">Proximamente</p>
   <ul class="promos">
    <li><img src="/images/sup.jpg" >Stand up paddle</li>
    <li><img src="/images/horse.jpg">Cabalgatas</li>
    <li> <img src="images/wind.jpg">Windsurf</li>
    <li> <img src="/images/rappel.jpg">Trekking con rappel</li>
</ul>

</div> <!-- fin proximo-->
 </div> <!-- fin novedades -->
        <!-- modal -->
        {{#each novedades}}
        <div class="modal fade" id="promo{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body px-5 pb-5">
                        <p>{{cuerpo}} </p>
                        <p>Precio: ${{precio}}</p>
                        <img src="{{imagen}}" class="picmod">
                    </div>
                </div>
            </div>
        </div> <!-- fin modal  -->
        {{/each}}

  

        <div id="galeria">
            <div>
                <h2 class="pb-4 text-center">Galería de fotos</h2>
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                         <div class="carousel-item active">
               <img src="images/raf1.jpg" class="d-block w-100" alt="rafting">
    </div>
    <div class="carousel-item">
      <img src="images/raf2.jpg" class="d-block w-100" alt="rafting">
    </div>
    <div class="carousel-item">
      <img src="images/camping2.jpg" class="d-block w-100" alt="carpa">
    </div>
    <div class="carousel-item">
       <img src="images/raf3.jpg" class="d-block w-100" alt="rafting">
</div>
        <div class="carousel-item">
       <img src="images/raf4.jpg" class="d-block w-100" alt="rafting">
       </div>
        <div class="carousel-item">
         <img src="images/cpy3.jpg" class="d-block w-100" alt="canopy">
    </div>
        <div class="carousel-item">
      <img src="images/raf5.jpg" class="d-block w-100" alt="rafting">
    </div>
        <div class="carousel-item">
      <img src="images/doki.jpg" class="d-block w-100" alt="doki">
    </div>
        <div class="carousel-item">
       <img src="images/guido.jpg" class="d-block w-100" alt="estacion">
    </div>
          <div class="carousel-item">
      <img src="images/raf6.jpg" class="d-block w-100" alt="rafting">
    </div>
                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>

        <div id="contacto">
            <div>
                <h3 class="pb-4">Visitanos</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26789.06626804996!2d-69.21337879171358!3d-32.93428583364745!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967dec31f509aa63%3A0x25784463ce0705!2sPotrerillos%2C%20Mendoza!5e0!3m2!1ses!2sar!4v1681262495347!5m2!1ses!2sar"
                    class="mp"></iframe>
            </div>
            <div>
                <h3 class="mb-2">Contacto</h3>
                <div class="contact">
                    <form action="/" method="post" class="formulario">
                        <div class="py-1">
                            <label for="nombre" class="form-label">Nombre y apellido:</label>
                            <input type="text" class="form-control" name="nombre">
                        </div>
                        <div class="row">
                            <div class="col-6 py-1">
                                <label for="email" class="form-label">Email:</label><input type="text"
                                    class="form-control" name="email" placeholder="name@example.com" required>
                            </div>
                            <div class="col-6 py-1">
                                <label for="tel" class="form-label">Teléfono:</label><input type="tel"
                                    class="form-control" name="tel">
                            </div>
                        </div>
                        <div class="py-2">
                            <label for="mensaje" class="form-label">Mensaje:</label>
                            <textarea class="form-control" name="mensaje" rows="5"></textarea>
                        </div>

                        <button class="btn btn-secondary border-dark px-3 my-2" type="submit">Enviar</button>
                    </form>
                    <p>{{message}}</p>
                </div>
            </div>
        </div>